# Conexão com o Banco de Dados
DB_HOST                     = "127.0.0.1"
DB_PORT                     = "3306"
DB_DATABASE                 = "workshop"
DB_USER                     = "root"
DB_PASS                     = "admin"

# Geração dos JWT
SECRET = workshop#@!